{
  "presets": [
    ["@babel/env"],
    "@babel/react",
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
