.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 20px;
  cursor: pointer;
}

.content {
  border: 1px solid green;
  height: 300px;
  margin-bottom: 80px;
}

:root {
  --primary-text: yellow;
  --danger-text: red;
  --success-text: green;
}
